<%= form_for(@barter) do |f| %>
  <% if @barter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barter.errors.count, "error") %> prohibited this barter from being saved:</h2>

      <ul>
      <% @barter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_area :category %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br>
    <%= f.date_select :expiration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
