 <table class="table table-hover" id="">
  <thead>
    <tr>
      <th id="information">Listing Information</th>
    </tr>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Category</th>
      <th>Neighborhood</th>
      <th>Interested In</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>
​
  <tbody class="table table-bordered" id="infotd">
    <tr>
      <td><%= @barter.product %></td>
      <td><%= @barter.description %></td>
      <td><%= @barter.category %></td>
      <td><%= @barter.neighborhood %></td>
      <td><%= @barter.interested_in %></td>
      <td><%= @barter.expiration %></td>
    </tr>
  </tbody>
</table>

</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Offers</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Offer</th>
      <th>Message</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @barter.comments.each do |comment| %>
    <tr>
      <% next if comment.accept == false %>
      <!-- <td><%#= button_to 'Accept', comment_accept_barter_comments_path(@barter.id, comment.id), method: :post %></td> -->
      <td><%= button_to 'Accept',  '/comments/' + comment.id.to_s + '/accept', method: :post %></td>

      <td><%= button_to 'Decline', '/comments/' + comment.id.to_s + '/decline', method: :post %></td>
      <td></td>
      <td><%= comment.user.username %></td>
      <td><%= comment.comment %></td>
      <td><%= comment.created_at.to_formatted_s(:long_ordinal)  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</br>


  <!--Links to the the 'New Barter form to create a new item to trade'
  -->
<div class="link">
  <%= link_to 'Back', barters_path %> |
  <%= link_to 'New Offer', new_barter_comment_path(@barter.id) %> |
  <%= link_to 'New Comment', new_barter_comment_path(@barter.id) %> |
  <%= link_to "Let's Make a Trade", new_barter_comment_path(@barter.id) %>
</div>
<br/>
<br/>
<br/>
