<p id="notice"><%= notice %></p>

<table class="table table-hover" id="">
  <thead>
    <tr>
      <th id="information">Listing Information</th>
    </tr>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Category</th>
      <th>Neighborhood</th>
      <th>Interested In</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>
​
  <!-- <tbody class="table table-bordered" id="infotd"> -->
  <tbody>
    <tr>
      <td><%= @barter.product %></td>
      <td><%= @barter.description %></td>
      <td><%= @barter.category %></td>
      <td><%= @barter.neighborhood %></td>
      <td><%= @barter.interested_in %></td>
      <td><%= @barter.expiration %></td>
    </tr>
  </tbody>
</table>

</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Offers</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>User</th>
      <th>Offer</th>
      <th>Message Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @barter.comments.each do |comment| %>
    <tr>
      <!-- next if skip this element in the iteration if the accept boolean is equal to false -->
      <% next if comment.accept == false %>
      <!-- if accept column = true all false comments disappear. -->
      <% if comment.accept == nil %>
        <td><%= button_to 'Accept',  '/comments/' + comment.id.to_s + '/accept', method: :post %></td>

        <!-- button_to = link to -->
        <td><%= button_to 'Decline', '/comments/' + comment.id.to_s + '/decline', method: :post %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <!-- get user name, from user table, through comments table -->
      <td><%= comment.user.username %></td>
      <!-- access comment table. comment column -->
      <td><%= comment.comment %></td>
      <td><%= comment.created_at.to_formatted_s(:long_ordinal)  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</br>
  <!--Links to the the 'New Barter form to create a new item to trade'
  -->

<div class="link">

  <%= link_to 'Back', barters_path %>
  <!-- the bartering process is not done -->
  <% @done = [] %>

  <!-- pull all comments from comments table in db  -->
  <% @barter.comments.each do |comment| %>
  <!-- if comment has value of true(accepted) -->
    <% if comment.accept == true %>
    <!--  -->
      <% @done << 1 %>
    <% end %>
  <% end %>

  <% if @done.empty? %>
    <%= link_to 'New Offer', new_barter_comment_path(@barter.id) %>
    <%= link_to 'New Comment', new_barter_comment_path(@barter.id) %>
    <%= link_to "Let's Make a Trade", new_barter_comment_path(@barter.id) %>
  <% end %>

</div>
<br/>
<br/>
<br/>
