<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Category</th>
      <th>Neighborhood</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barters.each do |barter| %>
      <tr>
        <td><%= barter.product %></td>
        <td><%= barter.description %></td>
        <td><%= barter.category %></td>
        <td><%= barter.neighborhood.capitalize %></td>
        <td><%= barter.expiration %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- <p>
  <strong>Product:</strong>
  <%= @barter.product %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barter.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @barter.category %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @barter.neighborhood.capitalize %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @barter.expiration %>
</p> -->
