<p id="notice"><%= notice %></p>

<h1>My Profile </h1>
</br>
</br>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= "Blocked for your security" %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path(current_user.id) %>
